
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LesterDev</title>
</head>
<body>

    <h1>Ingresar a LesterDev</h1>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Ingresar">
    </form>

    <a href="{% url 'register' %}">
        <button>Crear cuenta</button>
    </a>
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

    
</body>
</html>