{% extends 'base.html' %}

{% block content %}

<div di="cotenido_redes">
    <div class="logotipo_redes"></div>
    <div class="titulo_redes">
        <a href="https://www.linkedin.com/in/lesteryuman3137/" target="_blank">
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>
    </div>
    <div class="link"></div>
    <div class="descripcion"></div>

    <div class="logotipo_redes"></div>
    <div class="titulo_redes">
        <a href="https://github.com/lesterdavid31" target="_blank">
            <i class="fab fa-github"></i> GitHub
          </a>
    </div>
    <div class="link"></div>
    <div class="descripcion"></div>
</div>

{% endblock content %}


